---
layout: default
---
<div class="container mt-5" id="event-view">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mb-4">
        {{page.title}}
        <br>
        <small class="text-muted">
          {% assign startYear = page.dateStart | date: "%Y" %}
          {% assign endYear = page.dateEnd | date: "%Y" %}
          {% if startYear == endYear %}
          {{ page.dateStart | date: "%B %e" }} - {{ page.dateEnd | date: "%B %e, %Y" }}
          {% else %}
            {{ page.dateStart | date: "%B %e, %Y" }}
            {% if page.dateEnd %}
            - {{ page.dateEnd | date: "%B %e, %Y" }}
            {% endif %}
          {% endif %}
        </small>
      </h1>
      <svg class="img-fluid mb-4" width="800px" height="400px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Event image">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="3%" y="5%" fill="#a0adb9" dy=".3em">image</text>
      </svg>
      <p class="mx-3">
        {{page.description}}
      </p>
      <p class="mx-3">
        {{page.description}}
      </p>
      <ul class="list-inline mx-3">
        {% assign tags = page.tTags | split: "~" %}
        {% for tag in tags %}
        <li class="list-inline-item small">
          {% capture tagURL %}/tags/#{{ tag | url_encode }}{% endcapture %}
          <a href="{{ tagURL | relative_url }}" class="text-dark">
            {{tag}}
          </a>
        </li>
        {% endfor %}
      </ul>


    </div>
  </div>
</div>
