---
layout: default
---
<div class="container-fluid">
  <div class="row align-items-center" id="single-viewport">
    <div class="owl-carousel" id="single-carousel">
      {% assign sortedEvents = site.events | sort: 'dateStart' %}
      {% assign groups = sortedEvents | group_by_exp:"item", "item.dateStart | truncate: 3, ''"  %}
      {% for group in groups %}
      {% assign decade = group.name  %}
      {% assign count = 0  %}
      {% for event in group.items %}
      <div class="card text-white shadow" data-dateStart="{{ event.dateStart | date: "%Y" }}">
        {% if count == 0 %}
        <h2 class="decade text-dark font-italic">{{decade}}0's</h2>
        {% endif %}
        {% if event.image %}
        {% capture imageURL %}/assets/img/{{ event.image }}{% endcapture %}
        <img class="card-img" src="{{ imageURL | relative_url }}" alt="{{ event.title }}">
        {% else %}
        <svg class="card-img" width="400px" height="400px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Event image">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
        {% endif %}

        <div class="card-img-overlay d-flex justify-content-end align-items-center rounded" data-dateStart="{{ event.dateStart | date: "%Y" }}">
          <div class="col-12 col-md-8 col-lg-6 col-xl-4">
            <h2 class="event-date mb-0">
              {% assign startYear = event.dateStart | date: "%Y" %}
              {% assign endYear = event.dateEnd | date: "%Y" %}
              {% if startYear == endYear %}
              {{ event.dateStart | date: "%B %e" }} - {{ event.dateEnd | date: "%B %e, %Y" }}
              {% else %}
                {{ event.dateStart | date: "%B %e, %Y" }}
                {% if event.dateEnd %}
                - {{ event.dateEnd | date: "%B %e, %Y" }}
                {% endif %}
              {% endif %}
            </h2>
            <h1 class="event-title d-none d-md-block">
              {{ event.title }}
            </h1>
            <h1 class="event-title d-md-none">
              <a class="text-white" href="{{ event.url | relative_url }}">
                {{ event.title }}
              </a>
            </h1>
            <p class="d-none d-md-block">
              {{event.description | newline_to_br | truncatewords: 75}}
            </p>
            <p class="d-none d-md-block">
              <a class="text-white" href="{{ event.url | relative_url }}">
                Continue reading
              </a>
            </p>
          </div>
        </div>
      </div>
      {% assign count = count | plus: 1 %}
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="row align-items-center justify-content-center py-3" id="slider-nav-viewport">
    <div class="col-auto d-none d-md-block">
      <button type="button" class="btn btn-light" id="previous">Previous</button>
    </div>
    <div class="col">
      <div class="w-100" id="range-slider"></div>
    </div>
    <div class="col-auto d-none d-md-block">
      <button type="button" class="btn btn-light" id="next">Next</button>
    </div>
  </div>

</div>
